<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Delicious Restaurant for you" />
    <meta name="theme-color" content="#ff2626" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <script
      src="https://use.fontawesome.com/b070c8f1df.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      crossorigin="anonymous"
    />

    <title>Delicious Restaurant</title>
  </head>
  <body>
    <a class="skip-to-content-link" href="#mainContent"> Skip to content </a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <p class="nav-brand-title">Delicious Resto</p>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/fav">Favorite</a></li>
          <li>
            <a href="https://www.facebook.com/nonii.azizah.9" target="_blank"
              >About Me</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <footer style="background: #eee; padding: 15px; margin-top: 100px">
      <center>Copyright @2022 Delicious Resto</center>
    </footer>
  </body>
</html>
